@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

input[type=radio] {
    width: 20px;
    height: 20px;
}
.container{
    height: 85.2vh
}
.cho{
    border: 3px solid #404c68; border-radius: 0.625em
}
.cho:hover{
    box-shadow:#404c683a 0px 14px 28px, #404c683e  0px 10px 10px;
}
