<!DOCTYPE html>
<html  dir="rtl">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>تسليم زوون</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


</head>

<body>
  <main id="main" class="mb-5">
 
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      
      <div class="page-header d-flex align-items-center">
        <div class="container position-relative">
      
          <div class="row gy-4 d-flex justify-content-between">
        
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center rounded-1 p-4">
              
              <h2>من نحن</h2>
              <p>
                مرحبًا بك في تسليم زون، نحن فريق متخصص في توظيف وتوفير مندوبي التوصيل المحترفين. نسعى لتلبية احتياجات الشركات والمؤسسات والأفراد الذين يبحثون عن خدمات التوصيل السريعة والموثوقة.              </p>
            </div>
            <!-- <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
              <a href="index.html" class="logo d-flex align-items-center">
                <img src="assets/img/Logo (2).png" alt="" style="  
          margin-right: 30%;
    max-width: 70%;
    margin-top: -50%;
    margin-bottom: -35%;
        "
        >
              </a>
            </div> -->
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">الرئيسية</a></li>
            <li>من نحن</li>
          </ol>
        </div>
      </nav>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="assets/img/delevry/edit/2.png" class="img-fluid" alt="">
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a> -->
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <!-- <h3>من نحن</h3>
            <p>
              مرحبًا بك في موقعنا، نحن فريق متخصص في توظيف وتوفير مندوبي التوصيل المحترفين. نسعى لتلبية احتياجات الشركات والمؤسسات والأفراد الذين يبحثون عن خدمات التوصيل السريعة والموثوقة.            </p> -->
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3" style="margin-left: 10px;"></i>
                <div>
                  <h5>نحن نؤمن بأهمية الجودة والموثوقية في توفير خدمات التوصيل، ولذلك نعمل جاهدين لتوظيف المندوبين ذوي الخبرة والمهارات اللازمة. فريقنا من المحترفين ملتزم بتقديم خدمة عالية الجودة والتفاني في تلبية احتياجات العملاء.</h5>
                  <!-- <p>Magni facilis facilis repellendus cum excepturi quaerat praesentium libre trade</p> -->
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit" style="margin-left: 10px;"></i>
                <div>
                  <h5>اختيارنا للمندوبين يتم بعناية فائقة، ونحن نضمن أنهم يمتلكون المهارات اللازمة والالتزام بتقديم خدمة استثنائية وتحقيق رضا العملاء.</h5>
                  <!-- <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p> -->
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bi bi-broadcast" style="margin-left: 10px;"></i>
                <div>
                  <h5>انضم إلى فريقنا وكن جزءًا من تحسين تجربة التوصيل للعملاء وتحقيق نجاحنا المشترك. انطلق في مسيرتك المهنية معنا واستفد من فرص النمو والتطوير في مجال توصيل الشحنات</h5>
                  <!-- <p>Et velit et eos maiores est tempora et quos dolorem autem tempora incidunt maxime veniam</p> -->
                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" style="font-size: 25px;">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter">232</span>
              <p >عملائنا</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6" style="font-size: 25px;">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter">521</span>
              <p>خدماتنا</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6"  style="font-size: 25px;">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter">1453</span>
              <p>متطوعينا</p>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6"  style="font-size: 25px;">
            <div class="stats-item text-center w-100 h-100">
              <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter">32</span>
              <p>مناطقنا</p>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header" style="font-size: 25px;">
          <span>اسئلة شائعة عن الموقع</span>
          <h2>اسئلة شائعة عن الموقع</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon" style="margin-left: 20px;"></i>
                    ما هو الموقع وماذا يقدم؟
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    نحن موقع توظيف مندوبي التوصيل، حيث نوفر منصة للشركات والأفراد للعثور على مندوبين محترفين لتلبية احتياجاتهم في التوصيل والشحن السريع.                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon" style="margin-left: 20px;"></i>
                    ما هي المتطلبات للانضمام كمندوب توصيل؟
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    نحن نبحث عن مندوبين محترفين وموثوقين، يجب أن يكون لديهم سيارة أو وسيلة نقل خاصة، ورخصة قيادة سارية المفعول، وخبرة سابقة في مجال التوصيل والشحن.                </div>
              </div>
                </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon" style="margin-left: 20px;"></i>
                    هل يتم التحقق من خلفية المندوبين؟    
                                </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    نعم، نقوم بإجراء عمليات التحقق والتدقيق في خلفية المندوبين المتقدمين. ذلك يشمل التحقق من الهوية، وفحص سجل القيادة، وفحص السجل الجنائي للتأكد من مصداقيتهم وسلامة العملاء.                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon" style="margin-left: 20px;"></i>
                    كيف يعمل الموقع؟     
                               </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    <i class="bi bi-question-circle question-icon" style="margin-left: 20px;"></i>
                    يتيح لك الموقع إنشاء حساب ونشر طلباتك للتوظيف والتوصيل. يمكن للمندوبين المهتمين التقدم للوظائف المعروضة وإرسال طلباتهم، ويمكنك مراجعة السير الذاتية واختيار المندوب المناسب لاحتياجاتك.                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon" style="margin-left: 20px;"></i>
                    ماذا يحدث في حالة تأخر التوصيل أو فقدان الشحنة؟     
                               </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    نحن نحرص على تقديم خدمة موثوقة، وفي حالة حدوث أي تأخير أو فقدان للشحنة، يرجى التواصل معنا فورًا وسنعمل على حل المشكلة بأسرع وقت ممكن وتقديم التعويضات المناسبة.
                    
                                      </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <!-- <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>تسليم زون</span>
          </a>
          <p>يسعدنا تواصلك معنا عبر باقي وساىل التواصل الاجتماعي</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>عن المنصة</h4>
          <ul>
            <li><a [routerLink]="['/Home']">الرئيسية</a></li>
            <li><a [routerLink]="['/about']">من نحن</a></li>
            <li><a [routerLink]="['/ourservice']">خدماتنا</a></li>
            <li><a [routerLink]="['/pricing']">اسعارنا</a></li>
            <li><a href="#">الشروط والاحكام</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>تواصل معنا</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>هاتف:</strong> +1 5589 55488 55<br>
            <strong>ايميل:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy;  <strong><span>تسليم زون</span></strong>
      </div>
      
    </div>

  </footer> -->
  <!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>


</body>

</html>