<br>
<div class="container">
   <a ><i class="fa-solid fa-chevron-left icon"></i> </a>
   <div class="card" style="width: 77rem;" >
      <div class="card-body bg-light job">
         <div class="row">
            <div class="col col-md-2">
               <img src="" class="img-circle" alt="Cinque Terre" width="150" height="150"
                  style="border-radius: 50%;">
            </div>
            <div class="col col-md-8">
               <div class="row">
                  <div class="col col-md-11">
                     <h4 class="card-title col-10 mt-2" style="margin-left: -15px;"> </h4>
                     <h6 class="card-title col-10 mt-2">email</h6>
                     <div class="row">
                        <div class="col col-md-7">
                           <p class="text-muted display-inline-block text-muted"><strong data-test="job-type">Sended At:
                                 </strong></p>
                        </div>
                        <div class="col col-md-4">
                           <p class="text-muted display-inline-block text-muted"><strong data-test="job-type">Price:
                                 price .00/hr</strong></p>
                        </div>
                     </div>
                     <p class="card-text">cover leter!</p>
                     <h5 style="font-size: 18px;">My Skills :</h5>
                     <br>
                     <div style="display: flex;">
                        <div >
                           <p
                              style="padding: 10px; width: 60px;text-align: center; background-color: #404c68; margin-right: 20px; color: white; border-radius: 20px;">
                            </p>
                        </div>
                     </div>
                  </div>
                  <div class="col col-md-1">
                     <button class="btnHire">Details</button>
                     <br>
                     <br>
                     <button  class="btnHire">Hire</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<br>
<br>
<br>