<div class="container">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-12 col-md-12 col-lg-7 col-xl-9">
      <div class="card" style="border-radius: 0.9375em">
        <div class="card-body p-5">
          <h1 class="text text-center mb-5" style="font-family: 'Nanum Myeongjo', serif; font-size: 2.125em">
            انضم كعميل أو دليفري
          </h1>
          <h1 class="text text-center mb-5 "
            style="font-family: 'Nanum Myeongjo', serif; font-size: 1.125em ; color: red;" *ngIf="IsChecked">
            يجب اختيار لتسجيل !
          </h1>

          <div>
            <div class="row d-flex justify-content-center align-items-center h-100 mb-2">
              <div class="col-md-5 col-12 mx-auto my-2 mr-5 cho" (click)="onOptionSelected('كدليفري')">
                <div style="
                    display: flex;
                    justify-content: space-between;
                    padding: 0.625em;
                    
                  ">
                          <div class="col-7">

                            <input class="" type="radio" name="userType" value="كدليفري" (click)="onOptionSelected('كدليفري')"
                              [checked]="selectedOption === 'كدليفري'">
                            <label class="" for="كدليفري">كدليفري</label>
                         </div>
          
          
                </div>
                <div id="btn" style="
                    padding: 1.25em;
                    font-size: 1.1875em;
                    font-family: Cambria, Cochin, Georgia, Times,
                      'Times New Roman', serif;
                    font-weight: 900;
                  " dir="rtl">
                  أنا دليفري وأبحث عن عمل
                </div>
              </div>
              <div id="btn" class="col-md-5 col-12 cho" (click)="onOptionSelected('كعميل')">
                <div style="
                    display: flex;
                    justify-content: space-between;
                    padding: 0.625em;
                  ">

                  <div class="col-7">
                    <input type="radio" name="userType" value="كعميل" (click)="onOptionSelected('كعميل')"
                      [checked]="selectedOption === 'كعميل'">
                    <label for="كعميل">كعميل</label>
                   
                  </div>
              
                </div>
                <div style="
                    font-size: 1.1875em;
                    padding: 1.25em;
                    font-family: Cambria, Cochin, Georgia, Times,
                      'Times New Roman', serif;
                    font-weight: 900;
                  " dir="rtl">
                  أنا عميل ، أوظف لمشروع
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center">
              <button type="button" class="btn btn-block btn-lg col-5" style="
                font-size: 1em;
                border-radius: 1.5625em;
                background-color: #404c68;
                color: white;
              " (click)="onNavigate()">
                اشترك معنا
                <span *ngIf="selectedOption"> {{selectedOption}}</span>
              </button>
            </div>

            <p class="text-center text-muted mt-5 mb-0">
              لديك حساب بالفعل؟<a class="fw-bold text-body" routerLink="/auth/Login"><u>سجل من هنا </u></a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>