<!DOCTYPE html>
<html  dir="rtl">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>تسليم زوون</title>
    <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

</head>

<body >

  <main id="main " class="mb-5">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs ">
      <div class="page-header d-flex align-items-center">
   
        <div class="container position-relative">
      
          <div class="row gy-4 d-flex justify-content-between">
       
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center p-4  rounded-1  ">
              <h2>خدماتنا</h2>
              <p>مرحبًا بك في خدمات تسليم زون . نحن نقدم مجموعة شاملة من الخدمات لتلبية احتياجاتك في مجال التوظيف وتوفير فرص العمل الحرة للمندوبين المتميزين.</p>
            </div>

            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
              <a href="index.html" class="logo d-flex align-items-center">
      
              </a>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="index.html">الرئيسية</a></li>
            <li>خدماتنا</li>
          </ol>
        </div>
      </nav>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services mt-5">
      <div class="container">

        <div class="row gy-4 " style="text-align: -webkit-center;">

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-cart-flatbed p-1"></i></div>
            <div>
              <h4 class="title">توصيل سريع وموثوق به، لتحقيق رغباتك واحتياجاتك في الوقت المناسب.</h4>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck p-1"></i></div>
            <div>
              <h4 class="title">فرص عمل للمندوبين المحترفين في مجال النقل والتوصيل.</h4>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6 service-item d-flex p-1" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-truck-ramp-box"></i></div>
            <div>
              <h4 class="title">تتبع شحناتك على مدار الساعة لضمان الوصول الآمن.</h4>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header" style="font-size: 25px;">
          <span>خدماتنا</span>
          <h2>خدماتنا</h2>

        </div>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/delevry/20945973.jpg" alt="" class="img-fluid p-4">
              </div>
              <h3><a href="service-details.html" class="stretched-link text-decoration-none">
                اكتشف الحرية والتحدي مع خدماتنا لتوظيف مندوبين للعمل الحر.</a></h3>
            </div>
          </div>
          <!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/delevry/edit/3.png" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link text-decoration-none">تواصل معنا اليوم واستكشف فرص العمل الحر والتحكم في وقتك وجدولك الخاص.</a></h3>
            </div>
          </div>
          <!-- End Card Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <div class="card-img">
                <img src="assets/img/delevry/edit/6.png" alt="" class="img-fluid">
              </div>
              <h3><a href="service-details.html" class="stretched-link text-decoration-none">انطلق نحو مستقبلٍ مشرق في مجال التوصيل الحر مع خدماتنا المبتكرة.</a></h3>
              <!-- <p>Dicta quam similique quia architecto eos nisi aut ratione aut ipsum reiciendis sit doloremque oluptatem aut et molestiae ut et nihil</p> -->
            </div>
          </div><!-- End Card Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">

          <div class="col-md-5">
            <img src="assets/img/delevry/edit/11.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3> نقدم فرص عمل حرة ومرنة للمندوبين الذين يبحثون عن دخل إضافي ومرونة في جدول عملهم</h3>
            <p class="fst-italic">
              نحن نعلم أن العمل الحر يعتبر خيارًا مثيرًا ومجزيًا للعديد من الأفراد. لذا، نسعى جاهدين لتوفير بيئة ملائمة وفرصًا حقيقية للمندوبين لكي يتمكنوا من تحقيق أهدافهم المهنية وزيادة دخلهم.
            </p>
           
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/delevry/1.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>ربط الشركات والعملاء بأفضل المندوبين لتلبية احتياجاتهم في مجال التوصيل</h3>
            <p class="fst-italic">
              مهمتنا هي ربط الشركات والعملاء بأفضل المندوبين لتلبية احتياجاتهم في مجال التوصيل. نحن نوفر منصة سهلة الاستخدام حيث يمكن للشركات والعملاء البحث والتواصل مع المندوبين المؤهلين والمحترفين الذين يستطيعون تقديم خدمات التوصيل بمستوى عالٍ من الجودة والموثوقية.
            </p>
            
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5">
            <img src="assets/img/delevry/edit/1.png" class="img-fluid" alt="">
          </div>
          <div class="col-md-7">
            <h3>
              خبراء في مجال التوظيف وتوصيل البضائع، ضمان مصداقية المندوبين وتوافر المهارات والخبرة اللازمة</h3>
            <p class="fst-italic">فريقنا يضم خبراء في مجال التوظيف وتوصيل البضائع، ونحن نفهم تمامًا أهمية اختيار المندوب المناسب للعمل. لذا، نقوم بعمليات تحقق شاملة لضمان مصداقية المندوبين وتوافر المهارات والخبرة اللازمة.</p>
          </div>
        </div><!-- Features Item -->

        <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="assets/img/delevry/45984232.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 order-2 order-md-1">
            <h3>
              مرونة وتنوع خدماتنا: فرصة للمندوبين لزيادة دخلهم وتنويع تجربتهم</h3>
            <p class="fst-italic">
              تتميز خدماتنا بالمرونة والتنوع. يمكن للمندوبين العمل في مجالات متنوعة مثل التوصيل الغذائي، وتوصيل الطلبات عبر الإنترنت، والشحن السريع، مما يمنحهم فرصة لزيادة دخلهم وتنويع تجربتهم.
            </p>
          </div>
        </div><!-- Features Item -->

      </div>
    </section>
    <!-- End Features Section -->


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>اسئلة شائعه عن الموقع</span>
          <h2>اسئلة شائعه عن الموقع</h2>

        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-10">

            <div class="accordion accordion-flush" id="faqlist">

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    <i class="bi bi-question-circle question-icon"></i>
                    ما هو الموقع وماذا يقدم؟
                  </button>
                </h3>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    نحن موقع توظيف مندوبي التوصيل، حيث نوفر منصة للشركات والأفراد للعثور على مندوبين محترفين لتلبية احتياجاتهم في التوصيل والشحن السريع.                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    <i class="bi bi-question-circle question-icon"></i>
                    ما هي المتطلبات للانضمام كمندوب توصيل؟
                  </button>
                </h3>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    نحن نبحث عن مندوبين محترفين وموثوقين، يجب أن يكون لديهم سيارة أو وسيلة نقل خاصة، ورخصة قيادة سارية المفعول، وخبرة سابقة في مجال التوصيل والشحن.                </div>
              </div>
                </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    <i class="bi bi-question-circle question-icon"></i>
                    هل يتم التحقق من خلفية المندوبين؟    
                                </button>
                </h3>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    نعم، نقوم بإجراء عمليات التحقق والتدقيق في خلفية المندوبين المتقدمين. ذلك يشمل التحقق من الهوية، وفحص سجل القيادة، وفحص السجل الجنائي للتأكد من مصداقيتهم وسلامة العملاء.                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-4">
                    <i class="bi bi-question-circle question-icon"></i>
                    كيف يعمل الموقع؟     
                               </button>
                </h3>
                <div id="faq-content-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    <i class="bi bi-question-circle question-icon"></i>
                    يتيح لك الموقع إنشاء حساب ونشر طلباتك للتوظيف والتوصيل. يمكن للمندوبين المهتمين التقدم للوظائف المعروضة وإرسال طلباتهم، ويمكنك مراجعة السير الذاتية واختيار المندوب المناسب لاحتياجاتك.                  </div>
                </div>
              </div><!-- # Faq item-->

              <div class="accordion-item">
                <h3 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-5">
                    <i class="bi bi-question-circle question-icon"></i>
                    ماذا يحدث في حالة تأخر التوصيل أو فقدان الشحنة؟     
                               </button>
                </h3>
                <div id="faq-content-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                  <div class="accordion-body" style="padding-top: 10px;">
                    نحن نحرص على تقديم خدمة موثوقة، وفي حالة حدوث أي تأخير أو فقدان للشحنة، يرجى التواصل معنا فورًا وسنعمل على حل المشكلة بأسرع وقت ممكن وتقديم التعويضات المناسبة.
                    
                                      </div>
                </div>
              </div><!-- # Faq item-->

            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <!-- <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>تسليم زون</span>
          </a>
          <p>يسعدنا تواصلك معنا عبر باقي وساىل التواصل الاجتماعي</p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>عن المنصة</h4>
          <ul>
            <li><a [routerLink]="['/Home']">الرئيسية</a></li>
            <li><a [routerLink]="['/about']">من نحن</a></li>
            <li><a [routerLink]="['/ourservice']">خدماتنا</a></li>
            <li><a [routerLink]="['/pricing']">اسعارنا</a></li>
            <li><a href="#">الشروط والاحكام</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>تواصل معنا</h4>
          <p>
            A108 Adam Street <br>
            New York, NY 535022<br>
            United States <br><br>
            <strong>هاتف:</strong> +1 5589 55488 55<br>
            <strong>ايميل:</strong> info@example.com<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        &copy;  <strong><span>تسليم زون</span></strong>
      </div>
    </div>

  </footer> -->
  <!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>



</body>

</html>