


  <section id="hero" class="hero d-flex align-items-center p-5" style="height: 84.2vh;">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">

    
          <h2 data-aos="fade-up">أهلاً وسهلاً في منصة تسليم زون..</h2>
          <p data-aos="fade-up" data-aos-delay="100" style="font-size:x-large;">الخدمات التي تستحقها سنساعدك في العثور على متخصصون للاتمام مهامك..</p>
          <form action="file:///D:/projects/5amsat/views/Logis/signin.html?#!" class="form-search  align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200" style="width: fit-content;">
          
            <button routerLink="/auth/Login" type="submit" class="btn btn-primary" style="font-size: 107%;" ><b>تسجيل الدخول</b>
            </button>
          </form>
          <form action="#" class="form-search  align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200" style="width: fit-content;">
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-house" style="font-size: 30px;"></i>
            </button>
          
          </form>
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter">232</span>
                <p>عملائنا</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter">521</span>
                <p>خدماتنا</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1453" data-purecounter-duration="1" class="purecounter">1453</span>
                <p>الداعمين</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1" class="purecounter">32</span>
                <p>موظفينا</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div id="logoImg" class="col-lg-5 order-1 order-lg-2 hero-img p-5" data-aos="zoom-out">
          <img src="assets/img/job.png" class="img-fluid mb-3 mb-lg-0 " alt="" style="margin-top: 8%;">
        </div>

      </div>
    </div>
  </section>
