<section style="margin: 50px" dir="rtl">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-11 col-lg-7 col-xl-8">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h1
                class="text text-center mb-5"
                style="font-family: 'Nanum Myeongjo', serif"
              >
                تفاصيل الملف الشخصي
              </h1>

              <form
                [formGroup]="DataProfileForm"
                (ngSubmit)="submitData(DataProfileForm)"
              >
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <label class="form-label" for="form6Example1"
                        >الاسم بالكامل</label
                      >
                      <input
                        type="text"
                        id="form6Example1"
                        formControlName="name"
                        class="form-control"
                        (ngModelChange)="onInputChange('FullName', $event)"
                      />
                    </div>

                    <div *ngIf="name?.errors != null && name?.touched">
                      <p *ngIf="name?.errors?.['required']" class="text-danger">
                        يجب ادخال
                      </p>
                    </div>
                  </div>
                </div>

                <!-- Message input -->
                <div>
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form6Example7"
                      >نبده عنى</label
                    >
                    <textarea
                      class="form-control"
                      formControlName="description"
                      id="form6Example7"
                      rows="4"
                      (ngModelChange)="onInputChange('OverView', $event)"
                    ></textarea>
                  </div>
                  <div
                    *ngIf="description?.errors != null && description?.touched"
                  >
                    <p
                      *ngIf="description?.errors?.['required']"
                      class="text-danger"
                    >
                      يجب ادخال
                    </p>
                  </div>
                </div>
                <!-- Text input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example4"
                    >سنين الخبره</label
                  >
                  <input
                    type="number"
                    id="form6Example4"
                    formControlName="YearExperinces"
                    class="form-control"
                    (ngModelChange)="onInputChange('YearExperinces', $event)"
                  />
                  <div
                    *ngIf="
                      YearExperinces?.errors != null && YearExperinces?.touched
                    "
                  >
                    <p
                      *ngIf="YearExperinces?.errors?.['required']"
                      class="text-danger"
                    >
                      يجب ادخال
                    </p>
                  </div>
                </div>

                <!-- Text input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example4">العنوان</label>
                  <input
                    type="text"
                    id="form6Example4"
                    formControlName="address"
                    class="form-control"
                    (ngModelChange)="onInputChange('Address', $event)"
                  />

                  <div *ngIf="address?.errors != null && address?.touched">
                    <p
                      *ngIf="address?.errors?.['required']"
                      class="text-danger"
                    >
                      يجب ادخال
                    </p>
                  </div>
                </div>

                <!-- Cilent  input -->

                <!-- education  input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form6Example7"
                    >المستوي التعليمي</label
                  >
                  <input
                    type="text"
                    id="form6Example7"
                    formControlName="titleEdu"
                    (ngModelChange)="onInputChange('EducationLevelDTO', $event)"
                    class="form-control"
                  />

                  <div *ngIf="titleEdu?.errors != null && titleEdu?.touched">
                    <p
                      *ngIf="titleEdu?.errors?.['required']"
                      class="text-danger"
                    >
                      يجب ادخال
                    </p>
                  </div>
                </div>

                <div class="row mb-4">
                  <div class="col">
                    <label for="datetimepickerInline" class="form-label"
                      >من</label
                    >
                    <div
                      class="form-outline datetimepicker"
                      data-mdb-inline="true"
                    >
                      <input
                        type="date"
                        formControlName="titleEdufrom"
                        class="form-control"
                        id="datetimepickerInline"
                      />
                    </div>
                    <div
                      *ngIf="
                        titleEdufrom?.errors != null && titleEdufrom?.touched
                      "
                    >
                      <p
                        *ngIf="titleEdufrom?.errors?.['required']"
                        class="text-danger"
                      >
                        يجب ادخال
                      </p>
                    </div>
                  </div>
                  <div class="col">
                    <label for="datetimepickerInline" class="form-label"
                      >الى</label
                    >
                    <div
                      class="form-outline datetimepicker"
                      data-mdb-inline="true"
                    >
                      <input
                        type="date"
                        formControlName="titleEduto"
                        class="form-control"
                        id="datepickerInline"
                      />
                    </div>
                    <div
                      *ngIf="titleEduto?.errors != null && titleEduto?.touched"
                    >
                      <p
                        *ngIf="titleEduto?.errors?.['required']"
                        class="text-danger"
                      >
                        يجب ادخال
                      </p>
                    </div>
                  </div>
                </div>

                <ng-container formArrayName="skill">
                  <div style="display: flex; justify-content: space-between">
                    <label class="form-label" style="margin-top: 20px"
                      >المهارات</label
                    >
                    <div
                      style="
                        display: flex;
                        justify-content: end;
                        margin-top: 10px;
                      "
                    >
                      <input
                        type="button"
                        (click)="addall()"
                        class="btn bt"
                        style="
                          width: 50px;
                          height: 50px;
                          border-radius: 50px;
                          background-color: white;
                          color: black;
                          font-size: 20px;
                          border: 3px solid black;
                        "
                        value="+"
                      />
                    </div>
                  </div>
                  <div
                    class="form-outline mb-4"
                    *ngFor="let item of skill; let i = index"
                  >
                    <label class="form-label">مهاره {{ i + 1 }}</label>
                    <textarea
                      (ngModelChange)="onInputChange('Skills', $event)"
                      class="form-control"
                      [formControlName]="i"
                      rows="4"
                    ></textarea>
                  </div>
                </ng-container>
                <hr />
                <!-- languge  input -->
                <ng-container formArrayName="languge">
                  <div style="display: flex; justify-content: space-between">
                    <label class="form-label" style="margin-top: 20px"
                      >اللغات</label
                    >
                    <div
                      style="
                        display: flex;
                        justify-content: end;
                        margin-top: 10px;
                      "
                    >
                      <input
                        type="button"
                        (click)="addlan()"
                        class="btn bt"
                        style="
                          width: 50px;
                          height: 50px;
                          border-radius: 50px;
                          background-color: white;
                          color: black;
                          font-size: 20px;
                          border: 3px solid black;
                        "
                        value="+"
                      />
                    </div>
                  </div>
                  <div
                    class="form-outline mb-4"
                    *ngFor="let item of languge; let i = index"
                  >
                    <label class="form-label">اللغه {{ i + 1 }}</label>
                    <textarea
                      (ngModelChange)="onInputChange('Languges', $event)"
                      class="form-control"
                      [formControlName]="i"
                      rows="4"
                    ></textarea>
                  </div>
                </ng-container>

                <div class="mb-3">
                  <label for="profileImage" class="form-label">صورتك</label>
                  <div class="input-group">
                    <input
                      formControlName="ProfileImage"
                      type="file"
                      class="form-control"
                      id="profileImage"
                      name="ProfileImage"
                      placeholder="تعديل الصورة"
                      (ngModelChange)="onInputChange('ProfileImg', $event)"
                      (change)="changeImg($event)"
                    />
                  </div>

                  <div
                    *ngIf="
                      profileImage?.errors != null && profileImage?.touched
                    "
                  >
                    <p
                      class="text-danger"
                      *ngIf="profileImage?.errors?.['required']"
                    >
                      أدخل صورتك.
                    </p>
                  </div>
                </div>

                <div
                  *ngIf="showError"
                  class="alert alert-danger fade"
                  style="color: rgb(102, 102, 102)"
                  role="alert"
                >
                  يجب ادخال مهاره او لغه التحدث واحد علي الاقل !
                  <button
                    type="button"
                    style="margin-right: 25%; border: none"
                    (click)="hide()"
                  >
                    <span>&times;</span>
                  </button>
                </div>
                <div class="d-flex flex-wrap justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-block mb-4"
                    style="
                      width: 10em;
                      height: auto;
                      border-radius: 25px;
                      background-color: #404c68;
                      color: white;
                      font-size: 16px;
                    "
                    [disabled]="DataProfileForm.invalid"
                  >
                    حفظ التعديلات
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>