<div class="container mb-5">
<h2 class="text-center  p-2">تصفح المشاريع</h2>
	<div class="row mt-3" id="filter ">
		<form class="d-flex  justify-content-center">
			<label for=""  class="mt-1"> السعر : </label>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="make" class="filter-make filter form-control">
					<option value="" selected >جميع الاسعار</option>
					<option value="">100 < </option>
				</select>
			</div>
	
		<label class="mt-1"> المنطقة : </label>
			<div class="form-group col-sm-3 col-xs-6">
				<select data-filter="price" class="filter-price filter form-control">
					<option value="" selected >كل المناطق</option>
					<option value="">السعودية </option>
				</select>
			</div>
		</form>
	</div>
	<div class="row  justify-content-center pb-5" id="products"  *ngFor="let i of JobLists " >
		<div class="card m-2 w-75 ">
      <h5 class="card-header"> {{i.title}}</h5>
      <div class="card-body">
       <p class="card-text">{{i.details}}</p>
        <a routerLink="/delivery/jobDetails/{{i.id}}" class="btn btn-primary">تفاصيل</a> <small class="text-start " >النقاط: {{i.requiredPoints}}</small>
      </div>
    </div> 

	
   
    
	</div>
	<div class="row  justify-content-center pb-5" id="products " >
		<div class="card m-2 w-75 ">
      <h5 class="card-header">توصيل ملابس </h5>
      <div class="card-body">
       <p class="card-text"> job details Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, adipisci?</p>
        <a routerLink="/delivery/jobDetails/:1" class="btn btn-primary">تفاصيل</a> <small class="text-start " >النقاط:45</small>
      </div>
    </div>
	</div>
	<div class="row  justify-content-center pb-5" id="products " >
		<div class="card m-2 w-75 ">
      <h5 class="card-header">توصيل طعام </h5>
      <div class="card-body">
       <p class="card-text"> job details Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, adipisci?</p>
        <a routerLink="/delivery/jobDetails/:2" class="btn btn-primary">تفاصيل</a> <small class="text-start " >النقاط:45</small>
      </div>
    </div>
	</div>
	<div class="row  justify-content-center pb-5" id="products " >
		<div class="card m-2 w-75 ">
      <h5 class="card-header">title </h5>
      <div class="card-body">
       <p class="card-text"> job details Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, adipisci?</p>
        <a routerLink="/delivery/jobDetails/" class="btn btn-primary">تفاصيل</a> <small class="text-start " >النقاط:45</small>
      </div>
    </div>
</div>