<br />
<br />
<div class="container contain">
  <!-- <div>{{data.isVerified}}</div> -->
  <!-- <a><i class="fa-solid fa-chevron-left icon" routerLink="\client\Projcts"></i> </a> -->
  <div
    class="row bg-light"
    style="padding: 20px; box-shadow: 3px 3px 5px rgb(229, 227, 227)"
  >
  <div class="d-flex">
    <div class="col-8">عنوان الطلب:{{ data.title }}</div>
    <div [ngSwitch]="data.isVerified">
      <div class="col-12 mb-3" *ngSwitchCase="0">الموافقة في انتظار</div>
      <div class="col-12 mb-3" *ngSwitchCase="1">الموافقة مرفوضة</div>
      <div class="col-12 mb-3" *ngSwitchCase="2">الموافقة على النشر</div>
      <div class="col-12 mb-3" *ngSwitchDefault>
        Default content if no match is found
      </div>
    </div>
  </div>
    <!-- <div class="col-5">السائق : لم يحدد بعد</div> -->
  </div>
  <br />
  <div
    class="row bg-light"
    style="
      height: 54vh;
      padding: 20px;
      box-shadow: 3px 3px 5px rgb(229, 227, 227);
    "
  >
    <h5>التفاصيل:</h5>
    <p class="col-11">
      {{data.details}}
    </p>
    <h6 class="col-5">الدولة:{{data.countryName}}</h6>
    <h6 class="col-5">المدينة:{{data.cityName}}</h6>
    <h6 class="col-5">المكان بالتفصيل:{{data.addressDetails}}</h6>
    <div class="d-flex">
      <h6>عدد التقديمات</h6><a class="col-5"> :{{data.numOfProposal}}</a>

    </div>

  </div>
</div>
<br />
