<br>
<br>
<div class="container contain ">
  <a><i class="fa-solid fa-chevron-left icon" routerLink="\client\Projcts"></i> </a>
  <div class="row bg-light" style="padding: 20px; box-shadow: 3px 3px 5px rgb(229, 227, 227);">
<div class="col-5">عنوان الطلب: توصيل كوم شاكير ضحك</div>
<div class="col-5 mb-3">الموافقة على النشر : إنتظار</div>
<div class="col-5"> السائق : لم يحدد بعد</div>
  </div>
  <br>
  <div class="row bg-light" style="height: 54vh ;padding: 20px; box-shadow: 3px 3px 5px rgb(229, 227, 227);">
<h5>التفاصيل: </h5>
<p class="col-11" >
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum itaque nobis, quibusdam impedit culpa accusantium voluptatum eius hic, maxime eaque dolorum recusandae, dolores animi neque consectetur repudiandae voluptatibus amet expedita!
</p>
<h6 class="col-5">المكان:</h6>

  </div>
</div>
<br>
