<div class="container mb-5" style="height: auto; overflow-y: auto;">
  <h2 class="text-center  p-2"> مشاريعي</h2>
    
    <div class="row  justify-content-center pb-5" id="products"  *ngFor="let i of JobLists " >
      <div class="card m-2 w-75 ">
        <h5 class="card-header"> {{i.title}}</h5>
        <div class="card-body">
         <p class="card-text">{{i.details}}</p>
          <a routerLink="/client/porpDetails/{{i.id}}" class="btn btn-primary">تفاصيل</a> 
          <small class="text-start " > <span  style=" font-weight: bold; color: #252525;" >النقاط:</span> {{i.requiredPoints}}</small>
          
                </div>
      </div> 
  
    
     
      
    </div>
</div>