<div class="container-fluid " style="height: 100vh; overflow-x: hidden;" >
  <div class="row justify-content-center align-items-center h-100">
    <div class="card col-md-8 col-lg-6 mt-5 mb-5 shadow">
      <div class="card-header text-center " style="font-weight: bold; color: rgba(5, 5, 114, 0.985); ">
        أضافه اعلان
      </div>
      <div class="card-body">
        <form [formGroup]="AddJobForm" (ngSubmit)='submit(AddJobForm)' class="flex-column flex-md-row" >

          <div class="my-4 form-group col-12 d-md-flex">
            <!-- Label column on medium and larger screens -->
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
              <label for="title" style="font-size: medium; font-weight: bold; color: rgba(5, 5, 114, 0.985);" class="mb-1 px-5 py-1">عنوان الاعلان</label>
            </div>

            <!-- Input column on medium and larger screens -->
            <div class="col-md-6">
              <input id="title" type="text" class="form-control w-100 px-5" formControlName="Title">
              <div *ngIf="Title?.errors != null && Title?.touched">
                <p *ngIf="Title?.errors?.['required']" class="text-danger  text-center">
              ادخل  عنوان العرض
                </p>

              </div>
            </div>


          </div>

          <div class=" d-md-flex justify-content-center align-items-center mt-2">


            <label class="mt-1 ms-2  mb-4 " style="font-size: medium; font-weight: bold; color: rgba(5, 5, 114, 0.985);">الدولة: </label>
			<select formControlName="CountryName" (change)="onCountryChange($event)" class="filter-price w-25 mb-4 col-sm-3 ms-2 filter form-control">
				<option value="عمان">عمان</option>
				<option value="الأمارات">الأمارات</option>
			</select>
      <div *ngIf="CountryName?.errors != null && CountryName?.touched">
        <p *ngIf="CountryName?.errors?.['required']" class="text-danger  text-center">
          ادخل  الدولة
        </p>

      </div>


			<label class="mt-1  mb-4 " style="font-size: medium; font-weight: bold; color: rgba(5, 5, 114, 0.985);">المدينة:</label>
			<div class="form-group col-sm-3 col-xs-6">
				<select formControlName="CityName" class="filter-price  mb-4  filter form-control">
					<option *ngFor="let city of cities" [value]="city">{{ city }}</option>
				</select>
			</div>
      <div *ngIf="CityName?.errors != null && CityName?.touched">
        <p *ngIf="CityName?.errors?.['required']" class="text-danger  text-center">
          ادخل المدينة
        </p>

      </div>

          </div>

          <div class="col-md-8 col-12 d-flex justify-content-center mb-3"> <!-- Updated class added -->
            <!-- Input column on medium and larger screens -->
            <div class="d-flex align-items-center"> <!-- New div to wrap the <p> and <input> elements -->
              <p style="font-size: medium; font-weight: bold; color: rgba(5, 5, 114, 0.985);" class="mx-2 mx-md-5 my-2 my-md-0">عدد النقاط المطلوبه</p>
              <input type="number" class="form-control w-100 w-md-auto" style="max-width: 100px;" min="1" formControlName="requiredPoint">
            </div>

          </div>
          <div *ngIf="requiredPoint?.errors != null && requiredPoint?.touched">
            <p *ngIf="requiredPoint?.errors?.['required']" class="text-danger  text-center">
              ادخل   عدد النقاط
            </p>

          </div>


          <div class="my-4 form-group col-12 d-md-flex">
            <!-- Label column on medium and larger screens -->
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
              <label for="title" style="font-size: medium; font-weight: bold; color: rgba(5, 5, 114, 0.985);" class="mb-1 px-5 py-1"> العنوان بالتفصيل</label>
            </div>

            <!-- Input column on medium and larger screens -->
            <div class="col-md-6">
              <textarea id="title" type="text" class="form-control w-100 px-5" formControlName="AddressDescription"></textarea>
              <div *ngIf="AddressDescription?.errors != null && AddressDescription?.touched">
                <p *ngIf="AddressDescription?.errors?.['required']" class="text-danger  text-center">
                  ادخل  عنوان بتفصيل
                </p>

              </div>
            </div>

          </div>

          <div class="my-4 form-group col-12 d-md-flex">
            <!-- Label column on medium and larger screens -->
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
              <label for="title" style="font-size: medium; font-weight: bold; color: rgba(5, 5, 114, 0.985);" class="mb-1 px-5 py-1">  تفاصيل الاعلان</label>
            </div>

            <!-- Input column on medium and larger screens -->
            <div class="col-md-6">
              <textarea id="title" type="text" class="form-control w-100 px-5" formControlName="JobDescription"></textarea>
              <div *ngIf="JobDescription?.errors != null && JobDescription?.touched">
                <p *ngIf="JobDescription?.errors?.['required']" class="text-danger  text-center">
                    ادخل    تفاصيل الاعلان
                </p>

              </div>
            </div>

          </div>
          <div class="my-4 form-group col-12 d-md-flex">
            <!-- Label column on medium and larger screens -->
            <div class="col-md-6 d-flex justify-content-center justify-content-md-start">
              <label for="title" style="font-size: medium; font-weight: bold; color: rgba(5, 5, 114, 0.985);" class="mb-1 px-5 py-1">   التكلفه</label>
            </div>

            <!-- Input column on medium and larger screens -->
            <div class="col-md-6">
              <input  type="number" id="title" type="text" class="form-control w-100 px-5" formControlName="budget" min="1">
              <div *ngIf="budget?.errors != null && budget?.touched">
                <p *ngIf="budget?.errors?.['required']" class="text-danger text-center">
                  ادخل    التكلفه
                </p>

              </div>
            </div>

          </div>
          <div class="row text-center">
            <div class="col">
              <button  type="submit" class="btn w-75 my-3" style="background-color: rgba(5, 5, 114, 0.985); color: white;" [disabled]="AddJobForm.invalid">حفظ الاعلان</button>
            </div>
          </div>


        </form>


      </div>
    </div>
  </div>
</div>
