<div class="row " style="overflow: hidden;">
  
  
    <div class="sidebar col-md-2 col-12 " style="height: 83.vh;">
        <header class="sidebar_header " style="text-align: center; overflow: hidden;">
            <button class="m-auto">
                <span class=" m-auto">
                    <img class="" src='../../../assets/Logo (2).png'>
                  
                </span>
            </button>
        </header>


        <nav class="sidebar_menu">
            <button routerLink="wellcome">
                <span>

                    <span class="d-md-flex ">الرئيسية</span>
                    <i class="fa-solid fa-heart-pulse"></i>
                </span>
            </button>
            <button routerLink="subadmin">
                <span class="">

                    <span class="d-md-flex">أضافة ادمن </span>
                    <i class="fa-solid fa-list-check"></i>
                </span>
            </button>



            <button routerLink="report">
                <span class="">

                    <span class="d-md-flex ">الشكاوى</span>
                    <i class="fa-solid fa-people-arrows"></i>
                </span>
            </button>

            <button routerLink="dash">
                <span class=" ">

                    <span class="d-md-flex d-flex" (click)="resetBehavioursubs()">الطلبات  <div>
                            <sup>{{ behaviorSubjectforSubscribtionsnumber }}</sup>
                        </div></span>
                    <i class="fa-solid fa-bullhorn"></i>
                </span>
            </button>

            <button routerLink="Note" (click)="resetBehaviourNotification()">
                <span class=" ">

                    <span class="d-md-flex d-flex ">التنبيهات <div><sup>{{ behaviorSubjectforCountNotifications }}</sup></div></span>
                    <i class="fa-solid fa-circle-exclamation"></i>

                </span>
            </button>
        </nav>
    </div>
    <div class="col-md-10 col-12" style="height: 83.6vh;">
        <router-outlet>

        </router-outlet>
    </div>
</div>