ul {
  margin: 0px;
  padding: 2%;
}
.footer-section {
background: #0e1d34;

}
.foo
.copyright-area{

background: #202020;
padding: 25px 0;
}
.copyright-text p {
margin: auto;

font-size: 14px;
color: white;
}
.copyright-text p a{
color:whi;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: whi;
}
.footer-menu li a {
font-size: 14px;
color: white;
text-decoration: none;
}
footer{
  position: inherit;
  bottom: 0;
  left: 0;
  width: 100%;
  
  background-color: #f0f0f0; /* Set the desired background color */
}