a i{
    font-size: 25px;
    color: #404c68;
    margin-bottom: 30px;
    transition: 0.5s;
    padding: 10px;
    border-radius: 50%;
}
a i:hover{
    cursor: pointer;
    background-color: #404c68;
    color: white;
}
h3{
    font-size: 25px;
}
.card{
    padding: 20px;
}