<div class="container p-5 "> 
    <a ><i class="fa-solid fa-chevron-left icon" ></i> </a> 
      <div class="border border-grey rounded">
       <div class="card" style="width: 77rem;">
      <div class="card-body bg-light" style="padding: 20px;"  >
        <div class="row">
        <h3 class="card-title col-10 mt-2"></h3>
        <button type="button" class="btn btn-outline-dark btn-floating col-2 " data-mdb-ripple-color="dark" style="border: none; width: 40px; height: 40x; border-radius: 60%; align-items: center;">
          <i class="fa-regular fa-heart"></i></button>
        
      </div>
      <div class="row">
        <div><small class="text-muted display-inline-block text-muted"><strong data-test="job-type">Fixed-price</strong> <span>
          - <span data-test="contractor-tier">Intermediate</span></span> <span>
          -
          <span>Est. Budget: </span> <span data-test="budget">
           "$"+ j.budget
          </span></span>  <span>
          - Posted
          <span data-test="posted-on"><span data-test="UpCRelativeTime">timeThatPosted ago</span></span></span></small> <!----></div>
      </div>
        <p class="card-text">j.description</p>
        <div class="up-skill-wrapper">
          <a  class="up-skill-badge text-muted btn" href="#" tabindex="0" data-test="attr-item" > python</a>
        </div>
        <div class="row">
          <span>Proposal :<span>NumberOfProposal</span></span>
        </div>
  
  
        <div class="row">
          <div >
            <span><i class="fa-regular fa-badge-check" style="background-color:#404c68;"></i></span>
             &nbsp;
            <strong><small class="text-muted">Payment verified</small></strong>
            &nbsp;
            <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
            <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
            <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
            <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
            <span><i class="fa-solid fa-star" style="color: #404c68;"></i></span>
            &nbsp;
            <small data-test="client-spendings" class="d-inline-block"><strong><span data-test="EarnedAmountFormatted">
              $0
            </span></strong> <span class="text-muted">spent</span></small>
            &nbsp;
            <small data-test="connects-to-apply" class="d-none d-lg-inline-flex d-md-inline-flex text-muted">
              Connects to apply:&nbsp;
              <strong data-test="connect-price">4 Connects</strong></small>
          </div>
          </div>
          <br>
          <br>
      
    </div>
  
   </div>
   </div>
   </div>
  